html, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Montserrat, sans-serif; ;
}

.row{
    display:flex
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
header #logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 6rem;
    margin: 1.5em;
}
#logo h1{
    font-size: 0.85rem;
    font-family: Montserrat, sans-serif;
    color: black;
}
nav a {
    margin: 0 10px 0 10px;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 0.85rem;
}
#mainSection{
    height: 80vh;
    background-color: black;
    background-image: url(https://github.com/AleLincoln/JustMkt/blob/master/IMG/STRUCTURES/mainBG.jpg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
#mainSection h2{
    font-family: Montserrat, sans-serif;
    width: 60%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
#believe{
    font-size: 80px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0rem;
    font-weight: bold;
}
#mainSection p{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-top: -20px;
}
#contactAnchorSection{
    width: 95%;
    height: 20vh;
    margin:0;
    background-color: #0c002e;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skew(25deg);
    margin-left: -30px;
}
#contactAnchorSection p{
    transform: skew(-25deg);
}
#contactAnchorSection span{
    font-size: 24px;
    margin-top: -20px;
    transform: skew(-25deg);

}
#contactAnchorSection .button{
    transform: skew(-25deg);
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 85%;
    cursor: pointer;
}
.button{
    padding: 10px;
    background-color: #ffdd09;
}
#fourBulletPoints{
    display: flex;
}
#fourBulletPointsTitle{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin-top: 2.5em;
    font-weight: bold;
    color: #0c002e;
}
.alignBulletPoints{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alignBulletPoints img{
    width: 60%;
}
.alignBulletPoints h4{
    font-family: Montserrat, sans-serif;
    color: #0c002e;
    font-weight: bold;
    font-size: 25px;
    margin-block-start: 0;
    margin-block-end:0;
}
.alignBulletPoints p{
    font-family: Montserrat, sans-serif;
    color: #0c002e;
    text-align: center;
    font-size: 15px;
    width: 60%;
}
#historySection{
    margin-top: 60px;
    display: flex;
    margin-bottom: 60px;
}
#triangle{
    width: 0;
    height: 0;
    border-top: 10em solid transparent;
    border-left: 20em solid #ffdd09;
    border-bottom: 10em solid transparent;
    z-index: 1;
}
#history{
    flex: 2;
    background-color: #0c002e;
    color: white;
    margin-left: -10rem;
    height: 20em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.historyParagraph{
    font-family: Montserrat, sans-serif;
    text-align: right;
    font-size: 1.3rem;
    width: 60%;
}
.askForBudgetButton{
    padding: 10px;
    background-color: #ffdd09;
    font-family: Montserrat, sans-serif;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
#history .askForBudgetButton{
    position: relative;
    top: 30%;
}
#separator{
   display: flex;
   justify-content: stretch;
}
#separator img{
    width: 100%;
    margin-top: 40px;
}
#aboutUsMain{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #0c002e;
    font-size: 2rem;
    margin-top: 40px;
}
.secondSeparator{
    font-size: 40px;
    font-weight: 1000;
    color: #0c002e;
    margin:0;
}
#moreInfo{
    display: flex;
    font-family: Montserrat, sans-serif;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
#moreInfo p{
    width: 55%;
    font-size: 24px;
    text-align: justify;
}
#moreInfoButton{
    font-family: Montserrat, sans-serif;
    color: black;
    cursor: pointer;
    font-weight: bold;
    width: 20%;
    text-align: center;
    position: relative;
    right: 20%;
    
}



#testimonial, #testimonialsMainText{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:40px;
    text-align: center;

}

footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:40px;
    background:  #ffdd09;
}
footer .row p{
    margin: 20px;
    font-family: Montserrat, sans-serif;
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;
}

footer .askForBudgetButton{
    background-color: #0c002e;
    color: white;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    font-weight: bold;
    width:20%;
    text-align: center;
    margin: 1em;
}

